
* {
    font-family: 'Roboto Slab', serif;
}


li{
    margin-bottom: 80px
}
.main-body{
    margin: 100px 0px;
    justify-content: space-around;
    display: flex;
}
.edu,langs,job-history{
    padding-bottom: 10px;
}
header{
    
}
#header-slm{
    margin-top: 70px;
    text-align: center;
}
#priv{
    font-size: 16px;
    text-align: end;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
}








.lower-body{
    display: flex;
    justify-content: space-around;
}
.about-me, .certificates, .projects  {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    color: wheat;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: -20px 10px 45px black;
    background-color: rgb(126, 122, 122);
}